@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 1440px;
}

.main {
  background-color: #ffcd9e;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-heading {
  margin: 83px 0 0 136px;
}

.main-heading h1 {
  font-family: "Inter";
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  width: 562px;
  height: 108px;
}

.main-heading p {
  width: 495px;
  height: 81px;
  opacity: 0px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-top: 20px;
}

.main-heading h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 800;
  line-height: 32px;
  text-align: left;
  margin: 45px 0;
}

.main-heading_registration {
  display: flex;
  gap: 10px;
}

.main-heading_registration--email {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  width: 350px;
  height: 64px;
  border: 3px solid black;
  border-radius: 8px;
  padding: 0 20px;
}

.main-heading_registration--btn {
  width: 216px;
  height: 64px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #282828;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: center;
}

.main-gentleman {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 575px;
  height: 575px;
}

.main-heading_info {
  font-family: Inter;
  font-size: 16px !important ;
  font-weight: 500;
  line-height: 25.6px;
  text-align: center;
  color: #ffffff;
  margin-left: 30px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282828;
  padding: 60px 190px;
}

.footer div p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
.footer-secondiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-secondiv p:last-child {
  padding-top: 40px;
}
